<h3>HTTP Call</h3>
  <div class="form-group">
    <%= label_tag "Url" %><br>
    <%= text_field_tag 'task[http_url]', nil, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag "Method" %><br>
    <%= text_field_tag 'task[http_method]', nil, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag "Params" %><br>
    <%= text_field_tag 'task[http_params]', nil, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag "Body" %><br>
    <%= text_area_tag 'task[http_body]', nil, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag "Headers" %><br>
    <%= text_field_tag 'task[http_headers]', nil, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag "Cookies" %><br>
    <%= text_field_tag 'task[http_cookies]', nil, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag "Auth" %><br>
    <%= text_field_tag 'task[http_auth]', nil, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag "Timeout" %><br>
    <%= text_field_tag 'task[http_timeout]', nil, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag "Allow Redirects" %><br>
    <%= text_field_tag 'task[http_allow_redirects]', nil, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag "Proxies" %><br>
    <%= text_field_tag 'task[http_proxies]', nil, :class => "form-control" %>
  </div>
