<h3>Ssh</h3>
  <div class="form-group">
    <%= label_tag :cmd %><br>
    <%= text_area_tag 'task[ssh_cmd]', nil, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :host %><br>
    <%= text_field_tag 'task[ssh_host]', nil, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :username %><br>
    <%= text_field_tag 'task[ssh_username]', nil, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :password %><br>
    <%= password_field_tag 'task[ssh_password]', nil, :class => "form-control" %>
  </div>
