<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ciworker.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @ciworker.image %>
</p>

<p>
  <strong>Flavor:</strong>
  <%= @ciworker.flavor %>
</p>

<%= link_to 'Back', ciworkers_path %>
