<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @validation_job.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @validation_job.description %>
</p>

<p>
  <strong>Definition:</strong>
  <%= @validation_job.definition %>
</p>

<%= link_to 'Back', validation_jobs_path %>
