<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @check.name %>
</p>

<p>
  <strong>Check Type:</strong>
  <%= @check.checktype %>
</p>

<p>
  <strong>Information:</strong>
  <%= @check.information %>
</p>

<%= link_to 'Back', checks_path %>
